@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quintessential&display=swap');
/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*-------------------------------------------------------------------*/
body {
    font-family: "Quintessential", serif;
    line-height: 3;
    color: #333;
    background-color: #610909;
    padding: 10px;
}

header {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(111, 6, 113, 0.1);
    max-width: 800px;
}

header h1 {
    margin-bottom: 10px;
}
/*-------------------------------------------------------------------*/
nav {
    margin: 20px auto;
    text-align: center;
    background: #b30086;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(111, 6, 113, 0.1);
    max-width: 800px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #0a1d7a;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #09e5f9;
}
/*-------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

/* For Smaller Phones */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }
}
/*-------------------------------------------------------------------*/
section {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

section h2 {
    margin-bottom: 10px;
    color: #03074e;
}

section ul, section ol {
    margin-left: 20px;
}
/*-------------------------------------------------------------------*/
footer {
    margin: 20px auto;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #18caa0;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(111, 6, 113, 0.1);
    max-width: 800px;  
}

footer a {
    color: #132171;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
/*-------------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #07ca0b;
    color: #e80b16;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    display: none;
    transition: background 0.3s ease;
}
.back-to-top:hover {
    background: #072ce6;
}